
<app-header></app-header>
<app-header></app-header>
<!-- event biding -->
<button class="btn btn-primary mx-1" routerLink="/index/rooms?add">add</button>
<button class="btn btn-warning mx-1" (click)="toggleEdit()">Edit</button>
<button class="btn btn-danger mx-1" (click)="toggleHide()">hide</button>

<!--  property biding -->
<div [className]="stateDiv" *ngIf="hideRooms">
  <!-- <h4>Room Selected :</h4>
  <p *ngIf="selectedRoom">{{selectedRoom | json}}</p> -->

  <h4 >Rooms</h4>
  <!-- Call Component -->
  <app-room-list [rooms]="rooms$ |async" (handleDeleted)="handleDelete($event)" (selectedRoom)="selectRoom($event)"></app-room-list>
  <!-- <h4>RoomsNumber : {{ roomsCount$ }}</h4> -->

</div>
